.wishlist-section .col-content{
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.218);
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.wishlist-section .col-content img{
    width: 100%;
}
.wishlist-section .col-content p{
    margin: 7px 0px;
}
.wishlist-section .col-content button{
    padding: 7px 15px;
    border-radius: 20px;
    margin-top: 7px;
    font-size: 14px;
    background-color: #FEBD69;
    border: none;
}
.wishlist-section .col-content button:hover{
    background-color: #232F3E;
    color: white;
}